.menu-section {
  width: 95%;
  margin: 50px auto;
  text-align: center;
}

.menu-heading-title {
  font-size: 35px;
  margin-bottom: 20px;
  color: #Da281c;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.image-grid img {
  object-fit: cover;
}

/* Media Queries for Responsive Design */
@media (max-width: 800px) {
  .menu-heading-title {
      font-size: 28px;
  }

  .image-grid {
      grid-template-columns: 1fr;
      grid-gap: 2px;
  }
}


@media (max-width: 480px) {
  .menu-heading-title {
      font-size: 24px;
  }

  .menu-section {
      margin: 15px auto;
  }

  .image-grid {
      grid-template-columns: 1fr;
      grid-gap: 5px;
  }

  .image-grid img {
      width: 100%;
      height: auto;
  }
}


@media (max-width: 320px) {
  .menu-heading-title {
      font-size: 24px;
  }

  .menu-section {
      margin: 15px auto;
  }

  .image-grid {
      grid-template-columns: 1fr;
      grid-gap: 5px;
  }

  .image-grid img {
      width: 100%;
      height: auto;
  }
}


@media (max-width:600px) {
  .menu-heading-title {
      font-size: 24px;
  }

  .menu-section {
      margin: 15px auto;
  }

  .image-grid {
      grid-template-columns: 1fr;
      grid-gap: 5px;
  }

  .image-grid img {
      width: 100%;
      height: auto;
  }
}
