.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
  }
  
  .responsive-video {
    position: absolute;
    padding: 0;
    width: 100%;
    height: auto;
  }
  