/* Base Styles */
.menu-section {
  margin: 2rem;
  width: 95%;
  margin: 50px auto;
  text-align: center;
}

.menu-heading-title {
  font-size: 35px;
  margin-bottom: 20px;
  color: #Da281c;
}

.menu-heading-description {
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 30px;
  color: #000;
  width: 80%;
  margin: 0px auto 30px auto;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.menu-list li {
  margin: 2px 20px;
  font-weight: 700;
  font-size: 16px;
  list-style: none;
}

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.category-btn {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #da291c12;
  color: #Da281c;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-btn:hover {
  background-color: #Da281c;
  color: whitesmoke;
}

.category-btn.active {
  background-color: #Da281c;
  color: whitesmoke;
}

.subcategories {
  margin-bottom: 10px;
}

.subcategory-btn {
  margin: 10px 8px;
  padding: 5px 20px;
  border: none;
  background-color: #da291c12;
  color: #Da281c;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.subcategory-btn:hover {
  background-color: #Da281c;
  color: whitesmoke;
}

.subcategory-btn.active {
  background-color: #Da281c;
  color: whitesmoke;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px;
  margin-left: 30px;
  width: 100%;
  max-width: 700px;
}

.menu-item {
  border: 1px solid #d9291c2a;
  padding: 0px 2px;
  text-align: left;
}

.menu-item h3 {
  margin: 15px 0;
  font-size: 16px;
  color: #Da281c;
  display: flex;
  align-items: center;
}

.menu-item h3 span {
  margin-left: 10px;
  justify-content: space-between;
  font-size: 17px;
  color: #000;
}

.menu-item p {
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  right: 50px;
}

.menu-item-container img {
  object-fit: cover;
  border-radius: 2%;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .menu-heading-title {
      font-size: 28px;
  }

  .menu-heading-description {
      font-size: 16px;
      line-height: 28px;
      width: 90%;
  }

  .menu-list {
      flex-direction: column;
      margin-bottom: 40px;
  }

  .menu-list li {
      margin: 10px 0;
  }

  .categories, .subcategories {
      flex-direction: column;
  }

  .category-btn, .subcategory-btn {
      margin: 10px 0;
      width: 80%;
  }

  .menu-items {
      grid-template-columns: 1fr 1fr;
      margin-left: 0;
      gap: 5px;
  }
}

@media (max-width: 480px) {
  .menu-heading-title {
      font-size: 24px;
  }

  .menu-section {
      margin: 20px auto;
  }

  .menu-heading-description {
      font-size: 14px;
      line-height: 24px;
      width: 100%;
  }

  .menu-list {
      flex-direction: column;
      margin-bottom: 20px;
  }

  .menu-list li {
      margin: 5px 0;
  }

  .categories, .subcategories {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .category-btn, .subcategory-btn {
      margin: 5px 0;
      width: 90%;
  }

  .menu-items {
      grid-template-columns: 1fr;
      margin-left: 0;
      gap: 5px;
  }

  .menu-item {
      padding: 0px 10px;
  }

  .menu-item h3 {
      font-size: 14px;
  }

  .menu-item h3 span {
      font-size: 15px;
  }

  .menu-item p {
      font-size: 14px;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .menu-items {
      grid-template-columns: 1fr 1fr;
      margin-left: 0;
      gap: 5px;
  }
}

@media (max-width: 480px) {
  .menu-items {
      grid-template-columns: 1fr;
      margin-left: 0;
      gap: 5px;
  }

  .menu-item {
      padding: 0px 10px;
  }

  .menu-item-container {
      flex-direction: column;
      align-items: flex-start;
  }
}