.section__padding {
  padding: 4rem 6rem;
}
body {
  padding-top: 60px;
}

.section__padding-footer {
  padding: 5px 0px;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background-color: bisque;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 2rem; */
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 100%;
}

.custom__button {
    background-color: #Da281c;
    color: white;
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: #Da281c;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  line-height: 17px;
  font-style: italic;
  font-size: 20px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: black;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 14px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  font-size: 35px;
  margin-bottom: 20px;
  color: #Da281c;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_info{
    padding-left: 10px !important;
  }

  .app__wrapper_info img{
    height: 40px !important;
  }

  .menu-item-container img{
    height: 350px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
  .menu-item-container img{
    height:300px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .app__wrapper_info{
    padding-left: 5px !important;
  }

  .app__wrapper_info img {
    margin: 15px 0px !important;
    height: 50px !important;
}
}

@media screen and (max-width: 650px) {

  .section__padding {
    padding: 1rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
  .app__wrapper_info{
    padding-left: 5px !important;
  }

  .app__wrapper_info img {
    margin: 15px 0px !important;
    height: 50px !important;
}
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .menu-item-container img{
    height: 290px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .app__wrapper_info{
    padding-left: 5px !important;
  }

  .app__wrapper_info img {
    margin: 15px 0px !important;
    height: 50px !important;
}

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
